#jeopardy {
	text-align: center;
	font-size: 9pt;
	background-color: #060ce9;
	color: white;
	border-collapse: collapse;
	display: flex;
	justify-content: center;
	align-items: center;
}

#jeopardy th,
#jeopardy td {
	border: solid 1px white;
	width: 12em;
}

th {
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	height: 4em;
	text-shadow: darkgoldenrod 1px 1px;
}

td {
	height: 9em;
	font-family: Copse, serif;
}

td div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

td:hover {
	cursor: pointer;
}
